<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</head>

<body>
<div class="container">
    <h1 class="text-center mt-3">Employee Form</h1>
    <form name="product-form">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Wage</label>
            <input type="number" name="wage" class="form-control">
        </div>
        <div class="text-center">
            <button type="submit" name="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnSubmit = document.forms['product-form']['submit'];
        var inputName = document.forms['product-form']['name'];
        var inputWage = document.forms['product-form']['wage'];
        var url = "http://localhost:8080/api/v1/employees";
        var method = "POST";

        btnSubmit.onclick = function (e) {
            e.preventDefault();

            var objectToSend = {
                'name': inputName.value,
                'wage': inputWage.value
            }

            var data = JSON.stringify(objectToSend);
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 201) {
                    window.location.href = '/view/employee/index.html';
                }
            }
            xhr.open(method, url, false);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
            xhr.send(data);
        }
    })
</script>
</body>

</html>